{extend name="laket-admin::common.layout"/}

{block name="main"}
<div class="layui-card">
    <div class="layui-card-header layui-bg-cyan">表单详情</div>
    <div class="layui-card-body">
        <div class="table-responsive">
            <table class="layui-table">
                <colgroup>
                    <col width="200">
                    <col>
                </colgroup>
          
                <tbody>
                    <tr>
                        <td>表单ID</td>
                        <td>{$data.id}</td>
                    </tr>
                    
                    <tr>
                        <td>标题</td>
                        <td>{$data.title}</td>
                    </tr>
                    <tr>
                        <td>内容</td>
                        <td class="break-all">{$data.content}</td>
                    </tr>
                    
                    <tr>
                        <td>联系方式</td>
                        <td>{$data.contact}</td>
                    </tr>
                    <tr>
                        <td>联系方式类型</td>
                        <td>{$data.contact_type}</td>
                    </tr>
                    
                    <tr>
                        <td>类型</td>
                        <td>{$data.type}</td>
                    </tr>
                    
                    <tr>
                        <td>添加时间</td>
                        <td>{:date('Y-m-d H:i:s', $data['add_time'])}</td>
                    </tr>
                    <tr>
                        <td>添加IP</td>
                        <td>{$data.add_ip}</td>
                    </tr>

                </tbody>
            </table>
        </div>
    </div>
</div>
{/block}